/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Mudança de cor para as partes azuis (botões, cabeçalhos) para vermelho #d22e2e */
.mat-primary .mat-button, .mat-primary .mat-raised-button, .mat-primary .mat-flat-button, 
.mat-primary .mat-stroked-button, .mat-primary .mat-icon-button, .mat-primary .mat-fab, 
.mat-primary .mat-mini-fab {
  background-color: #d22e2e !important;
  border-color: #d22e2e !important;
}

.mat-primary .mat-tab-label, .mat-primary .mat-tab-link, .mat-primary .mat-ink-bar, 
.mat-primary .mat-tab-header-pagination {
  color: #d22e2e !important;
}

.mat-primary .mat-tab-group {
  border-color: #d22e2e !important;
}

.mat-primary .mat-tab-body-content {
  color: #d22e2e !important;
}

.card {
  background-color: #ffffff; /* Mantendo o fundo das cartas branco */
  border-color: #d22e2e; /* Opcional: borda das cartas vermelha */
}

/* Botões de ação */
.mat-raised-button.mat-primary {
  background-color: #8B0000 !important;
  color: #ffffff;
}

/* Links */
a {
  color: #d22e2e;
}

/* Mudança de cor para a barra de navegação */
.navbar, .mat-toolbar {
  background-color: #d22e2e !important;
  color: #ffffff !important;
}
